.header{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 80px;

    &__head{
        width: 100%;
    }

    &__subtitle{
        font-size: 1rem;
        text-align: right;
        color: $blue;
        font-weight: bold;
        font-style: italic;
        position: relative;

        &::before{
            content: '';
            width: 35%;
            position: absolute;
            left: 0;
            top: 50%;
            height: 1px;
            background-color: $gray;
            transform: translateY(-50%);
        }
    }

    &__title{
        color: $darkGray;
        margin-top: 20px;
        font-size: 2rem;
    }

    &__nav{
        width: 100%;
        padding: 0 5px 5px;
        margin-top: 30px;
        border-bottom: 2px solid $gray;
        position: relative;
    }

    &__list{
        list-style: none;
        display: flex;
        
    }
    &__item{
        color: $darkGray;
        width: 20%;
        font-size: .6rem;
        height: .6rem;
        border-right: 1px solid $gray;
        text-align: center;
        cursor: pointer;

        &:first-child{
            padding-left: 0px;
        }

        &:last-child{
            border-right: none;
        }

        &:hover{
            color: $blue;
        }
    }

    &__active{
        position: absolute;
        left: 5px;
        bottom: -2px;
        width: 18%;
        height: 2px;
        background-color: $blue;

        &::after{
            content: '';
            position: absolute;
            top: -2px;
            left: 50%;
            transform: translateX(-50%);
            width: 0; 
            height: 0; 
            border-left: 3px solid transparent;
            border-right: 3px solid transparent;
            
            border-bottom: 3px solid $blue;
        }
    }
}

@media(min-width: 400px){
    .header__subtitle::before{
        width: 50%;
    }
}

@media(min-width: 768px){

    .header{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        &__head{
            width: 40%;
        }

        &__subtitle{
            font-size: .8rem;
        }

        &__title{
            font-size: 2.3rem;
            margin-top: 5px;
        }

        &__nav{
            width: 40%;
        }

    
    }
}

@media(min-width: 1024px){
    .header{
        padding-left: 20%;
        padding-right: 20%;
        &__head{
            width: 300px;
        }
        &__subtitle{

            &::before{
                width: 40%;
            }
        }

        &__title{
            margin-top: 10px;
            font-size: 2.5rem;
        }

        &__item{
            font-size: .9rem;
            height: .9rem;
        }

    }

   
}